<p>Select a Team to view their team page</p>
<body>
<div id="teams" > 
    <!-- return teamSelected(String teamName) -->
    <ul id= "menu1">
      <li><button class="btn" (click)="teamSelected('Cardinals')">
        <img src="../../assets/Cardinals.png" class="logo" alt ="Cardinals"> 
        Arizona Cardinals</button>
      </li  >
      <li (click)="teamSelected('Falcons')"><button class="btn">
        <img src="../../assets/Falcons.png" class="logo" alt="Falcons"> 
        Atlanta Falcons</button>
      </li>
      <li (click)="teamSelected('Ravens')"><button class="btn">
        <img src="../../assets/Ravens.png" class="logo" alt="Ravens"> 
        Baltimore Ravens </button>
      </li>
      <li (click)="teamSelected('Bills')"><button class="btn">
        <img src="../../assets/Bills.png" class="logo" alt="Bills"> 
        Buffalo Bills</button>
      </li>
      <li (click)="teamSelected('Panthers')"><button class="btn">
        <img src="../../assets/Panthers.png" class="logo" alt="Panthers"> 
        Carolina Panthers</button>
      </li>
      <li (click)="teamSelected('Bears')"><button class="btn">
        <img src="../../assets/Bears.png" class="logo" alt="Bears"> 
        Chicago Bears</button>
      </li>
      <li (click)="teamSelected('Bengals')"><button class="btn">
        <img src="../../assets/Bengals.png" class="logo" alt="Bengals"> 
        Cincinnati Bengals</button>
      </li>
      <li (click)="teamSelected('Browns')"><button class="btn">
        <img src="../../assets/Browns.png" class="logo" alt="Browns"> 
        Cleveland Browns</button>
      </li>
      <li (click)="teamSelected('Cowboys')"><button class="btn">
        <img src="../../assets/Cowboys.png" class="logo" alt="Cowboys"> 
        Dallas Cowboys</button>
      </li>
      <li (click)="teamSelected('Broncos')"><button class="btn">
        <img src="../../assets/Broncos.png" class="logo" alt="Broncos"> 
        Denver Broncos</button>
      </li>
      <li (click)="teamSelected('Lions')"><button class="btn">
        <img src="../../assets/Lions.png" class="logo" alt="Lions"> 
        Detroit Lions</button>
      </li>
      <li (click)="teamSelected('Packers')"><button class="btn">
        <img src="../../assets/Packers.png" class="logo" alt="Packers"> 
        Green Bay Packers</button>
      </li>
      <li (click)="teamSelected('Texans')"><button class="btn">
        <img src="../../assets/Texans.png" class="logo" alt="Texans"> 
        Houston Texans</button>
      </li>
      <li (click)="teamSelected('Colts')"><button class="btn">
        <img src="../../assets/Colts.png" class="logo" alt="Colts"> 
        Indianapolis Colts</button>
      </li>
      <li (click)="teamSelected('Jaguars')"><button class="btn">
        <img src="../../assets/Jaguars.png" class="logo" alt="Jaguars"> 
        Jacksonville Jaguars</button>
      </li>
      <li (click)="teamSelected('Chiefs')"><button class="btn">
        <img src="../../assets/Chiefs.png" class="logo" alt="Chiefs"> 
        Kasas City Chiefs</button>
      </li>
      <li (click)="teamSelected('Chargers')"><button class="btn">
        <img src="../../assets/Chargers.png" class="logo" alt="Chargers"> 
        Los Angeles Chargers</button>
      </li>
      <li (click)="teamSelected('Rams')"><button class="btn">
        <img src="../../assets/Rams.png" class="logo" alt="Rams"> 
        Los Angeles Rams</button>
      </li>
      <li (click)="teamSelected('Dolphins')"><button class="btn">
        <img src="../../assets/Dolphins.png" class="logo" alt="Dolphins"> 
        Miami Dolphins</button>
      </li>
      <li (click)="teamSelected('Vikings')"><button class="btn">
        <img src="../../assets/Vikings.png" class="logo" alt="Vikings"> 
        Minnesota Vikings</button>
      </li>
      <li (click)="teamSelected('Patriots')"><button class="btn">
        <img src="../../assets/Patriots.png" class="logo" alt="Patriots"> 
        New England Patriots</button>
      </li>
      <li (click)="teamSelected('Saints')"><button class="btn">
        <img src="../../assets/Saints.png" class="logo" alt="Saints"> 
        New Orleans Saints</button>
      </li>
      <li (click)="teamSelected('Giants')"><button class="btn">
        <img src="../../assets/Giants.png" class="logo" alt="Giants"> 
        New York Giants</button>
      </li>
      <li (click)="teamSelected('Jets')"><button class="btn">
        <img src="../../assets/Jets.png" class="logo" alt="Jets"> 
        New York Jets</button>
      </li>
      <li (click)="teamSelected('Raiders')"><button class="btn">
        <img src="../../assets/Raiders.png" class="logo" alt="Raiders"> 
        Oakland Raiders</button>
      </li>
      <li (click)="teamSelected('Eagles')"><button class="btn">
        <img src="../../assets/Eagles.png" class="logo" alt="Eagles"> 
        Philidelphia Eagles</button>
      </li>
      <li (click)="teamSelected('Steelers')"><button class="btn">
        <img src="../../assets/Steelers.png" class="logo" alt="Steelers"> 
        Pittsburgh Steelers</button>
      </li>
      <li (click)="teamSelected('49ers')"><button class="btn">
        <img src="../../assets/49ers.png" class="logo" alt="49ers"> 
        San Francisco 49ers</button>
      </li>
      <li (click)="teamSelected('Seahawks')"><button class="btn">
        <img src="../../assets/Seahawks.png" class="logo" alt="Seahawks"> 
        Seatle Seahawks</button>
      </li>
      <li (click)="teamSelected('Buccaneers')"><button class="btn">
        <img src="../../assets/Buccaneers.png" class="logo" alt="Buccaneers"> 
        Tampa Bay Buccaneers</button>
      </li>
      <li (click)="teamSelected('Titans')"><button class="btn">
        <img src="../../assets/Titans.png" class="logo" alt="Titans"> 
        Tennessee Titans</button>
      </li>
      <li (click)="teamSelected('Redskins')"><button class="btn">
        <img src="../../assets/Redskins.png" class="logo" alt="Redskins"> 
        Washington Redskins</button>
      </li>
    </ul>
</div>
    
<!-- <div id="teamlogo"> This is the logo</div> -->
    <div id='info' >
      <h1 class="name">{{name}}</h1>    
      <p class="Stadium">{{stadium}}</p>
      <p class="Record">{{record}}</p>
      <p class="Passyds">{{passyds}}</p>
      <p class="Rushyds">{{rushyds}}</p>
      <p class="Totalyds">{{totalyds}}</p>
      <p class="PoitsFor">{{ptsfor}}</p>
      <p class="PoitsFor">{{ptsagainst}}</p>
      <p class="PoitDiff">{{ptdiff}}</p>
      <ul *ngFor="let account of accounts">
          <li>{{account.mediaType}} : {{account.value}}</li>
      </ul>
  </div>
    </body>
