img.logo{
    height: 22px;
    width: 22px;
    border-radius: 50%;
 }
 ul#menu1 li {
     display: inline; 
    box-sizing: content-box;

 }

 div{
    width: 1525px;
 }

div#teamlogo {
   /* background-image: url('../../assets/Broncos.png');
   height: 90px;
   width: 1500px; */
}
