/*---background picture---*/
/* body {
    padding: 0;
    margin: 0;
    background-image: url(../assets/anna-wangler-_GqwoiT7QY8-unsplash.jpg);
    background-size: cover;
  } */
  /*--- navigation bar ---*/
  .navbar {
    background: #46b48f;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .turtle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .header {
    background: lightgray;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color: #46b48f;
  }
  .description p {
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
  }