ul#menu li {
  display: inline;
  padding: 15px;
}
 /*---background picture---*/
body {
    background: rgb(194, 192, 192);
  }
  /*--- navigation bar ---*/
  .navbar {
    background: rgb(39, 36, 36);
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .turtle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: rgb(129, 123, 123);
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .header {
    background: lightgray;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color:rgb(77, 77, 77);
  }
  .description p {
    color: black;
    font-size: 1.3rem;
    line-height: 1.5;
  }