<nav class="navbar navbar-expand-md">
  <img src="../assets/Sports_flat_round_colorful_simple_activities_athletic_colored-09-512.png" class="football">
  <a class="navbar-brand" href="#">Snap Tackle Pop</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
  <ul id="menu">
    <li><a routerLink="/home-page">Home</a></li>
    <li><a routerLink="/landingpage">Login</a></li>
    <li><a routerLink="/landingpage2">Register</a></li>
  </ul>
  
  
  </div>
</nav>
<div id="mainTitle" class="description">
    <h1 id="title">Welcome to Snap Tackle Pop</h1>
<!-- Search form -->

 
    <div>
    <h1 class="name">{{name}}</h1>
    <p class="Stadium">{{stadium}}</p>
    <ul *ngFor="let account of accounts">
      <li>{{account.mediaType}} : {{account.value}}</li>
    </ul>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>