ul#menu li {
  display: inline;
  padding: 15px;
}
input#search3.form-control {
  width: 300px;
}
  /*--- navigation bar ---*/
  .navbar {
    background: rgb(39, 36, 36);
  }
  .football{
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color:rgb(77, 77, 77);
  }
  .description p {
    color: black;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .teamsdiv {
    padding: 5px; 
    border: 5px;
    border-color: black;
    margin: 10px;
  }
