<div>
    <form (ngSubmit)="register()"#registerForm="ngForm">
        <input type="text" name="name" placeholder="Enter Your Full Name" [(ngModel)]="register.name"/><br/>
        <input type="email" name="email" placeholder="Enter Your Email" [(ngModel)]="register.email"/><br/>
        <input type="text" name="username" placeholder="Enter Username" [(ngModel)]="register.username"/><br/>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="register.password"/><br/>
        <input type="text" name="favTeam" placeholder="Enter Your Favorite Team" [(ngModel)]="register.favTeam"/><br/>
        <input type="submit" value="Register"/>
    </form>
</div>
